
[submodule "webserver"]
	path = webserver
	url = https://gitlab.com/czunigar/webserver.git
	branch = main
[submodule "dbserver"]
	path = dbserver
	url = https://gitlab.com/czunigar/dbserver.git
	branch = master
[submodule "taskserver"]
	path = taskserver
	url = https://gitlab.com/czunigar/taskserver.git
